In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("salesData2010.csv")

In [4]:
df1=pd.read_csv("salesData2011.csv")

In [5]:
frames=[df,df1]

In [6]:
data=pd.concat(frames)

In [49]:
data.Day=pd.to_datetime(data.Day)

In [8]:
##Calculate mean of sales for every store year wise.
yw=data.groupby(data['Day'].dt.year)['SalesA', 'SalesB', 'SalesC', 'SalesD'].mean()

<ipython-input-8-431e58e8d116>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  yw=data.groupby(data['Day'].dt.year)['SalesA', 'SalesB', 'SalesC', 'SalesD'].mean()

In [9]:
yw

        SalesA    SalesB    SalesC    SalesD
Day
2010  2.643863  2.878192  3.195945  3.019671
2011  2.526082  2.687178  3.429068  2.983699

In [10]:
##Calculate mean of sales for every store month wise for two years.

In [40]:
mmm

0       1
1       1
2       1
3       1
4       1
       ..
360    12
361    12
362    12
363    12
364    12
Name: Day, Length: 730, dtype: int64

In [56]:
dd=data['Day']

In [57]:
dd.groupby(pd.Grouper(freq='M'))

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Int64Index'

In [62]:
mw=data.groupby(data['Day'].dt.month)['SalesA', 'SalesB', 'SalesC', 'SalesD'].mean()

<ipython-input-62-0a38da007daa>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  mw=data.groupby(data['Day'].dt.month)['SalesA', 'SalesB', 'SalesC', 'SalesD'].mean()

In [60]:
mw

In [ ]:
##Calculate mean of sales for every store week wise for two years
ww=data.groupby(data['Day'].dt.week)['SalesA', 'SalesB', 'SalesC', 'SalesD'].mean()

In [ ]:
ww

In [ ]:
#Calculate mean of sales for every store quarter wise for two years.
qw=data.groupby(data['Day'].dt.quarter)['SalesA', 'SalesB', 'SalesC', 'SalesD'].mean()

In [ ]:
qw

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

## Year wise mean sales

In [ ]:
x=yw['SalesA']
y=["2010","2011"]
plt.plot(y,x,label="SalesA")
x=yw['SalesB']
y=["2010","2011"]
plt.plot(y,x,label="SalesB")
x=yw['SalesC']
y=["2010","2011"]
plt.plot(y,x,label="SalesC")
x=yw['SalesD']
y=["2010","2011"]
plt.plot(y,x,label="SalesD")
plt.title("Year wise mean of all Store")
plt.xlabel("Year")
plt.ylabel("Mean Value")
plt.grid(True)
plt.legend(loc='best')
plt.show()

## Quarter wise mean sales

In [ ]:
x=qw['SalesA']
y=["jan","apr","july","oct"]
plt.plot(y,x,label="SalesA")
x=qw['SalesB']
y=["jan","apr","july","oct"]
plt.plot(y,x,label="SalesB")
x=qw['SalesC']
y=["jan","apr","july","oct"]
plt.plot(y,x,label="SalesC")
x=qw['SalesD']
y=["jan","apr","july","oct"]
plt.plot(y,x,label="SalesD")
plt.title("Quarterly wise mean of all Store")
plt.xlabel("Quarterly")
plt.ylabel("Mean Value")
plt.grid(True)
plt.legend(loc='best')
plt.show()

## Month wise mean sales

In [ ]:
x=mw['SalesA']
y=["Jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
plt.plot(y,x,label="SalesA")
x=mw['SalesB']
y=["Jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
plt.plot(y,x,label="SalesB")
x=mw['SalesC']
y=["Jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
plt.plot(y,x,label="SalesC")
x=mw['SalesD']
y=["Jan","feb","mar","apr","may","jun","jul","aug","sep","oct","nov","dec"]
plt.plot(y,x,label="SalesD")
plt.title("Month wise mean of all Store")
plt.xlabel("Months")
plt.ylabel("Mean Value")
plt.grid(True)
plt.legend(loc='best')
plt.show()

##  Week wise mean sales

In [ ]:
x=ww['SalesA']
y=range(1,54,1)
plt.plot(y,x,label="SalesA")
x=ww['SalesB']
y=range(1,54,1)
plt.plot(y,x,label="SalesB")
x=ww['SalesC']
y=range(1,54,1)
plt.plot(y,x,label="SalesC")
x=ww['SalesD']
y=range(1,54,1)
plt.plot(y,x,label="SalesD")
plt.title("Week wise mean of all Store")
plt.xlabel("Weeks")
plt.ylabel("Mean Value")
plt.grid(True)
plt.legend(loc='best')
plt.show()

In [ ]:
data['Day'].dt.month

In [ ]:
data