In [1]:
import numpy as np
import pandas as pd
df=pd.read_csv("C:/Users/lenovo/Downloads/airPassangerData.csv")
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB as gnb
from sklearn.naive_bayes import MultinomialNB as mnb

In [3]:
df.head()

   112  118  132  129  121  135  148  148.1  136  119  104  118.1
0  115  126  141  135  125  149  170    170  158  133  114    140
1  145  150  178  163  172  178  199    199  184  162  146    166
2  171  180  193  181  183  218  230    242  209  191  172    194
3  196  196  236  235  229  243  264    272  237  211  180    201
4  204  188  235  227  234  264  302    293  259  229  203    229

In [5]:
df.columns=["a","b","c","d","e","f","g","h","i","j","k","l"]

In [12]:
df.dtypes

a    int64
b    int64
c    int64
d    int64
e    int64
f    int64
g    int64
h    int64
i    int64
j    int64
k    int64
l    int64
dtype: object

In [62]:
df

      a    b    c    d    e    f    g    h    i    j    k    l
0   115  126  141  135  125  149  170  170  158  133  114  140
1   145  150  178  163  172  178  199  199  184  162  146  166
2   171  180  193  181  183  218  230  242  209  191  172  194
3   196  196  236  235  229  243  264  272  237  211  180  201
4   204  188  235  227  234  264  302  293  259  229  203  229
5   242  233  267  269  270  315  364  347  312  274  237  278
6   284  277  317  313  318  374  413  405  355  306  271  306
7   315  301  356  348  355  422  465  467  404  347  305  336
8   340  318  362  348  363  435  491  505  404  359  310  337
9   360  342  406  396  420  472  548  559  463  407  362  405
10  417  391  419  461  472  535  622  606  508  461  390  432

In [16]:
train,test=train_test_split(df,test_size=0.20)
x_train=train.iloc[:,0:11]
y_train=train.iloc[:,11]
x_test=test.iloc[:,0:11]
y_test=test.iloc[:,11]

In [19]:
y_train

9     405
6     306
2     194
10    432
7     336
0     140
1     166
4     229
Name: l, dtype: int64

In [20]:
#####fit

In [28]:
a=gnb()
b=mnb()

In [31]:
pred_gnb=a.fit(x_train,y_train).predict(x_test)

In [32]:
pred_mnb=b.fit(x_train,y_train).predict(x_test)

In [34]:
from sklearn.metrics import confusion_matrix

In [35]:
confusion_matrix(y_test,pred_gnb)

array([[0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0]], dtype=int64)

In [37]:
pd.crosstab(y_test.values.flatten(),pred_gnb)

col_0  229  336
row_0
201      1    0
278      1    0
337      0    1

In [40]:
accgnb=np.mean(y_test.values.flatten()==pred_gnb)

In [41]:
accgnb

0.0

In [45]:
confusion_matrix(y_test,pred_mnb)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0]], dtype=int64)

In [47]:
pd.crosstab(y_test.values.flatten(),pred_mnb)

col_0  166  336
row_0
201      1    0
278      0    1
337      0    1

In [48]:
accmnb=np.mean(y_test.values.flatten()==pred_mnb)

In [49]:
accmnb

0.0

In [51]:
### so Gaussinan and Multinomial is not going to work

In [52]:
from sklearn.neighbors import KNeighborsClassifier as KNC

In [64]:
acc=[]

for i in range(1,9,1):
    knnmodel=KNC(n_neighbors=i)
    knnmodel.fit(x_train,y_train)
    predknn=knnmodel.predict(x_test)
    accknn=np.mean(predknn==y_test)
    acc.append([accknn,i])
print(acc)

[[0.0, 1], [0.0, 2], [0.0, 3], [0.0, 4], [0.0, 5], [0.0, 6], [0.0, 7], [0.0, 8]]

In [65]:
###poor data set accuracy

In [69]:
from sklearn.tree import DecisionTreeClassifier as dtc
dtcmodel=dtc(criterion="entropy")
dtcmodel.fit(x_train,y_train)
preddtc=dtcmodel.predict(x_test)
accdtc=np.mean(preddtc==y_test)
accdtc

0.0